#container {
	display: block;
	margin: 2em;
}

#container > div {
	box-sizing: border-box;
	padding: 1em;
}

#scoreboard table {
	width: 100%;
}

#questions #tabs {
	text-align: center;
}

#questions #submit {
	text-align: center;
}
