# vim: set ft=python:
from compytition import app

app.config['LDAP_SERVER'] = 'ldap://127.0.0.1:389'
app.config['LDAP_DN'] = lambda x: 'cn=' + x + ',cn=users,dc=ldap,dc=ldap,dc=ldap'
app.config['SECRET_KEY'] = 'thiskeyneedstobesecret'
