<div id="questions" class="pure-u-1-2">
	<div id="tabs" class="pure-menu pure-menu-open pure-menu-horizontal">
		<ul>
			{% for q in config['QUESTIONS'] %}
				<li id="{{ q.base }}-button" class="question-button">
					<a href="#{{ q.base }}">{{ q.base }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	{% for q in config['QUESTIONS'] %}
		<div id="{{ q.base }}" class="question" style="display: none">
			{{ q.content|markdown }}
		</div>
	{% endfor %}

	<div id="submit">
		<form class="pure-form">
			<fieldset>
				<input type="file">
				<button type="submit" class="pure-button pure-button-primary">Submit</button>
			</fieldset>
		</form>
	</div>
</div>
