<div id="questions" class="pure-u-1-2">
	<div id="tabs" class="pure-menu pure-menu-open pure-menu-horizontal">
		<ul>
			{% for q in questions %}
				<li id="q{{ loop.index }}b" class="question-button">
					<a href="#q{{ loop.index }}">Q{{ loop.index }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	{% for q in questions %}
		<div id="q{{ loop.index }}" class="question" style="display: none">
			{{ q.content|markdown }}
		</div>
	{% endfor %}

	<div id="submit">
		<form class="pure-form">
			<fieldset>
				<input type="file">
				<button type="submit" class="pure-button pure-button-primary">Submit</button>
			</fieldset>
		</form>
	</div>
</div>
